hr {
  color: white;
}

html {
    height:100%;
    min-height:100%;
}

body {
    background: black;
    background-image: url("img/x_red.png"), url("img/bg.png");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center, center;
    background-size: contain, cover;
}

.card .card-content {
    background-color: #000000e6 !important;
}

.rank {
    background-color: #000000e6 !important;
}

.box-wrapper.dark {
    border: solid 1px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.3);
    padding: 14px;
}

.box-wrapper {
    line-height: 1.5;
    position: relative;

}

.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a, .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #000000e6;
    text-align: initial;
    color: #ee6e73;
    border-top-style: solid;
    border-top-width: thin;
}

.card-content2 {
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.card .card-content {
    padding: 12px;
    border-radius: 0 0 2px 2px;
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 0px;
}

.collapsible-body {
    padding: 0.5rem;
}

.collapsible-header {
    padding: 0.5rem !important;
    border-bottom: 1px solid #ddd !important;
    background: linear-gradient(to right, white 50%, #0000 50%) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    -webkit-transition: all 0.1s ease !important;
    transition: all 0.2s ease !important;
    /*background-color: #0000 !important;*/
    line-height: 1.5 !important;
}

.collapsible-header:hover {
    background-position: left bottom !important;
    color: black !important;
}
#selector {
    float: left;
    width: 100%;
}

#missions {
    margin: 1%;
    padding-left: 300px;
}

.collapsible .collection {
    margin: 0;
    border: solid;
    border-color: white;
    border-width: thin;
    /* background-color: black; */
}

.rank-text {
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 0.2rem !important;
    background: linear-gradient(to right, white 50%, #0000 50%) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    -webkit-transition: all 0.1s ease !important;
    transition: all 0.2s ease !important;
    animation-play-state: paused !important;
}

.rank-text:hover {
    background-position: left bottom !important;
    color: black !important;
    animation-play-state: running;
}

/*  */

.sidenav.sidenav-fixed {
    background: #0000009e;
    padding: 1%;
    top: 64px;
}

.collapsible {
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    margin: .5rem 0 1rem 0 !important;
}

.sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
    border-bottom: 1px solid #ddd;
    background-color: transparent;
}

.sidenav .collapsible li, .sidenav.fixed .collapsible li {
    line-height: 1.5;
}
.sidenav .collapsible-body {
    padding: 0.5rem;
}

.navpath {
    padding-left: 8px;
    font-size: calc(1.3vmin + 8px);
}

nav {
    background: #0000009e;
    border-bottom: darkgray thin solid;
    font-size: large;
}

#navigation {
    display: flex;
}

#menu {
    border-right: white thin solid;
    padding-left: 2%;
    padding-right: 2%;
    background: #5a0600;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width : 992px) {
    #missions {
        padding-left: 0;
    }
    
    #menu {
        display: block;
    }
    
    .collapsible-header {
        padding: 1rem !important;
    }
    
    .rank-text {
        padding: 0.7rem !important;
    }
}
